*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#header{
    padding: 20px 4.5rem 6px;
    background-color: rgb(248, 249,250);
    overflow: auto;
    position: fixed;
    width: 100%;

}
#header  .left{
    float: left;
    margin-left: 50px;
    margin-top: 11px;
}
#header  .right{
    float: right;
 margin-right:50px;
}
#header a{
    font-size: 23px;
    text-decoration: none;
    color: black;
    cursor: pointer;
   
}
#header  button{
background-color: #0d6efd;
padding: 15px 15px;
border-radius: 5px;
opacity: 1rem;
color: white;
font-size: 15px;
border-color: transparent;

}

#Photo{
   
  background-position: center;
    background-size: cover;
    text-align: center;
    background-image: url(/img/bg-masthead.jpg);
    padding: 10rem 0px;
    height: 85vh;
}
#Photo input{
    width: 80%;
    background-color: white;
    padding: 22px 52px 22px 22px;
    outline: none;
    border-color: #dc3545;
    border-radius: 5px;
}   
#Photo form{
    width: 40%;
    margin: auto;
    margin-top: 35px;
  
}
#Photo h1{
    font-size: 50px;
    color: white;
}
#Photo button{
    width: 15%;
    font-size: 1rem;
    background-color: #0d6efd;
    color: white;
    padding: 20px 20px;
    border-radius: 5px;
    margin-left: 20px;
    border-color: transparent;
    margin-bottom: 15px;
}
#Photo p {
    color: white;
    margin-right: 60px;
   
}
#Icon{
    text-align: center;
    width: 100%;
    padding: 10rem;
    overflow: auto;
    background-color: rgb(248, 249,250);
   
}
#Icon .left{
float: left;
width: 33%;
}
    #Icon .center{
       float: left;
       width: 33%;
    }
#Icon .right{
     float: left;
     width: 33%;
    }
    #Icon  i{
       font-size: 70px;
       color: #0d6efd;
       margin-bottom: 15px;
       
    }
    #Icon p{
        font-size: 20px;
        color: black;
        font-weight: 300;
        margin-top: 10px;
    }
    #Icon h2{
        font-weight: bolder;
    }
        
        
    #Pieces{
        width: 100%;
       overflow: auto;
    }
    #Pieces .box{
        width: 50%;
        float: left;
  
    }
    #Pieces img{
        width: 100%;
    }
    #Pieces .begin{
        width: 100%;
        float: left;
    }
    #Pieces .edit{
        text-align: center;
      padding: 10rem;
      text-align: left;
    }
    #Pieces  p{
        margin-top: -150px;
        margin-left: 140px;
        font-size: 20px;
       
        font-weight: 300;
    }
    #Peoples{
        width: 100;
        
        background-color: rgb(248, 249,250);
        overflow: auto;
        padding: 9rem;
        
    }
    #Peoples  .allofthem{
        width: 100%;
        float: left;
        text-align: center;
      
    }
    #Peoples .left{
        float: left;
        width: 33%;
    }
    #Peoples  .center{
        float: left;
        width: 33%;
    }
#Peoples  .right{
    float: left;
        width: 33%;
}
#Peoples  img{
    width: 40%;
    border-radius: 100px;
}
#Peoples h1{
    text-align: center;
    margin-bottom: 50px;
}
#Peoples h2{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
#Peoples p{
    font-size: 17px;
    color: #212529;
    margin-top: 10px;
}

#Ready{
   
    background-position: center;
      background-size: cover;
      text-align: center;
      background-image: url(/img/bg-masthead.jpg);
    
      height: 44vh;
      padding-top: 40px;
  }
  #Ready input{
      width: 80%;
      background-color: white;
      padding: 22px 52px 22px 22px;
      outline: none;
      border-color: #dc3545;
      border-radius: 5px;
   
  }   
  #Ready form{
      width: 40%;
      margin: auto;
      margin-top: 35px;
    
  }
  #Ready h1{
      font-size: 35px;
      color: white;
      margin-top: 60px;
  }
  #Ready button{
      width: 15%;
      font-size: 1rem;
      background-color: #0d6efd;
      color: white;
      padding: 20px 20px;
      border-radius: 5px;
      margin-left: 20px;
      border-color: transparent;
      margin-bottom: 15px;
  }
  #Ready p {
      color: white;
      margin-right: 60px;
     
  }

  #End{
      padding: 5.5rem;
  }
#End .left{
    float: left;
    font-size:17px;
    margin-left: 40px;
    
}

  #End  .right{
     float: right;
  }
     
  #End   a{
      margin-left: 30px;
      color: #0d6efd;
  }
  #End p {
      margin-top: 10px;
      margin-left: 25px;
      font-weight: 300;
  }
  #End .right{
      font-size: 30px;
     
  }
  #End i{
      margin-left: 20px;
      color: #0d6efd;
  }


      
  
       
   
 


